@page "/admin"
@inject ISecureJournalAppService JournalApp
@inject NavigationManager Navigation

<PageTitle>Admin</PageTitle>

<p class="p-3">Redirecting...</p>

@code {
    protected override void OnInitialized()
    {
        if (!JournalApp.HasCurrentUser())
        {
            Navigation.NavigateTo("/", forceLoad: false);
            return;
        }

        Navigation.NavigateTo("/admin/projects", forceLoad: false);
    }
}
