@page "/admin"
@attribute [Authorize(Roles = "Administrator")]
@inject ISecureJournalAppService JournalApp
@inject NavigationManager Navigation

<PageTitle>Admin</PageTitle>

<p class="p-3">Redirecting...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await JournalApp.HasCurrentUserAsync())
        {
            Navigation.NavigateTo("/", forceLoad: false);
            return;
        }

        Navigation.NavigateTo("/admin/projects", forceLoad: false);
    }
}
