.settings-layout {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.settings-column {
    min-width: 0;
}

.settings-column-left {
    flex: 0 1 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-column-right {
    flex: 1 1 20rem;
}

@media (max-width: 980px) {
    .settings-layout {
        flex-direction: column;
    }

    .settings-column-left,
    .settings-column-right {
        flex: 1 1 auto;
        width: 100%;
    }
}
